@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.caps { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }
.hidden { display: none; }
.white-color { color: #fff; }
/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 58%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header .wrapper { width: 57% }

.header-top { border-bottom : 1px solid #ddd; }

.header-top .wrapper {
  padding: 34px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 { margin-left: 1.5%; }
h1 a { text-indent: -9999px; }
h1 img { float: right; }

.cart {
  margin-right: auto;
  margin-left: 28%; 
}

.cart span,
.call-me a {
  color: #777;
  font-size: 10px;
  vertical-align: middle;
}

.cart span:nth-child(1)::after {
  content: "\f07a";
  margin-left: 5px;
  color: #333;
  font: 900 12px "Font Awesome 5 Free";
}

.call-me {
  margin-right: 20.5%;
  margin-left: auto;
}

.call-me a { color: #333; }

.call-me a::before {
  content: "\f3cd";
  margin-right: 5px;
  font: 900 12px "Font Awesome 5 Free";
}

.cart .data {
  margin-left: 5px;
  display: block;
  font-size: 7px;
}

.call-me .data { 
  display: block;
  font-size: 9px; 
  color: #777;
}

.call-me .data:first-letter { text-transform: capitalize; }


.search-icon a { text-indent: -9999px; }

.search-icon a::after {
  content: "\f002";
  margin-top: 10px;
  color: #f902ba;
  font: 900 11px "Font Awesome 5 Free";
  float: right;
  text-indent: 0;
} 

.hamburger { display: none; }

/*nav menu starts here*/
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

.nav-menu > li { position: relative; }

.nav-menu a {
  padding: 15px 26px 18px 27px;
  color: #82848b;
  font-size: 10px;
  -webkit-transition: .5s ease color;
  -o-transition: .5s ease color;
  transition: .5s ease color;
}

.nav-menu > li:nth-child(2) > a:after,
.nav-menu > li:nth-child(3) > a:after {
  margin-left: 1px;
  content: '\f0d7';
  font: 900 8px 'Font Awesome 5 Free';
  vertical-align: middle;
}

/*dropdown menu starts here*/
.dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-menu a {
  padding: 10px 15px;
  color: #82848b;
  font-size: 10px;
  -webkit-transition: .5s ease color;
  -o-transition: .5s ease color;
  transition: .5s ease color;
}

.dropdown-menu li { background-color: #82848b; }
.dropdown-menu a { color: #FFF; }

.dropdown:hover .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*banner starts here*/
.banner {
  padding: 115px 0 230px;
  background: url(../images/banner-image.jpg) center/cover;
}

.banner .wrapper { width: 66.48%; }

.banner h2 {
  color: #f902ba;
  font-size: 46px;
}

.banner span { display: block; }

.banner-category {
  margin: 9px 0 41px 14.5%;
  font-size: 22px;
}

.banner-sale {
  margin-left: 6%;
  font-size: 49px;
}

.banner-offer {
  margin-top: 10px;
  margin-left: 27.5%;
  color: #f902ba;
  font-size: 19px;
}

/*banner ends here*/
/*sale starts here*/
.sale { padding: 54px 0 36px; }

.sale ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sale li {
  width: 20%;
  padding: 10px 9px;
  margin-bottom: 20px;
  background-color: #eee;
}

.sale .flat-sale {
  position: relative;
  width: 48%;
  background-color: transparent;
}

.flat-sale h3 {
  position: absolute;
  top: 50%;
  left: 2.5%;
  right: 2.5%;
  padding: 5px 0;
  font-size: 49px;
  background-color: rgba(249,2,186,.6);
  transform: translateY(-50%);
}

.sale .flat-sale figure { width: 100%; }

.sale figure { 
  width: 80%; 
  margin: 0 auto;
}

.sale h4 {
  margin: 7px 0;
  color: #f902ba;
  font-size: 10px;
}

.sale span { font-size: 12px; }

.sale-cart a {
  padding: 3px 7px;
  border-radius: 2px;
  margin-top: 6px;
  background-color: #403a37;
  color: #fff;
  font-size: 9px;
  -webkit-transition: .5s ease color;
  -o-transition: .5s ease color;
  transition: .5s ease color;
}
/*sale ends here*/
/*sale-gallery starts here*/
.sale-gallery .wrapper { width: 59.40%; }

.sale-gallery ul { 
  display: flex; 
  flex-wrap: wrap;
}

.sale-gallery li { width: 33.33%; }

/* js functionality */
.overflow-hidden { overflow: hidden; }

.lightbox {
  position: fixed;
  z-index: 1;
  top:0;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
  transition: all .5s ease;
}

.lightbox .focus {
  border: 3px solid #40ba37;
  position: fixed;
  z-index: 2;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.lightbox .close-button {
  position: absolute;
  top: 2%;
  right: 2.5%;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

/*image-gallery ends here*/
/*sale-gallery ends here*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer { 
  padding: 44px 0 46px;
  background-color: #252222; 
}

.footer-top h5 { 
  margin-bottom: 14px;
  color: #d809a3; 
  font-size: 18px;
}

.footer-top { 
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between; 
}

.footer-top ul {
  display: flex;
  flex-direction: column;
}

.footer-top a,
.footer-top address {
  color: #aaa;
  font-size: 9px;
}

.address-info { width: 23%; }

.email a::before,
.phone a::before,
.footer-top address::before {
  content: "\f3c5";
  padding: 4px 5px;
  border-radius: 20px;
  border: 1px solid;
  margin-right: 10px;
  display: inline-block;
  font: 900 8px 'Font Awesome 5 Free';
  vertical-align: middle;
  -webkit-transition: .5s ease color;
  -o-transition: .5s ease color;
  transition: .5s ease color;
}

.email { margin: 3px 0; }
.email a::before { content: "\f0e0"; }
.phone a::before { content: "\f879"; }

.footer-top a:first-letter { text-transform: capitalize; }

.copyright {
  color: #aaa;
  font-size: 11px;
}

.copyright a { 
  color: #f902ba; 
  -webkit-transition: .5s ease color;
  -o-transition: .5s ease color;
  transition: .5s ease color;
}

.copyright span { text-transform: lowercase; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 995px) {
 
  .search-icon a:hover:after {
    color: #000;
    -webkit-transition: .5s ease color;
    -o-transition: .5s ease color;
    transition: .5s ease color;
  }

  .nav-menu a:hover,
  .dropdown-menu a:hover,
  .sale-cart a:hover {
    color: #f902ba;
    -webkit-transition: .5s ease color;
    -o-transition: .5s ease color;
    transition: .5s ease color;
  }

  .copyright a:hover,
  .footer-top a:hover {
    color: #fff;
    -webkit-transition: .5s ease color;
    -o-transition: .5s ease color;
    transition: .5s ease color;
  }
}  

@media only screen and (max-width: 995px) {
  header .wrapper,
  .wrapper,
  .sale .wrapper,
  .sale-gallery .wrapper { width: 80%; }  
  .cart,.call-me { margin: 0; }
}  

@media only screen and (max-width: 768px) {

  .header-top .wrapper { padding-top : 15px; }
  .nav-menu { display: none; }

  .banner .wrapper { 
    width: 80%; 
    text-align: center;
  }

  .hamburger {
    width: 40px;
    height: 40px;
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
    text-indent: -9999px;
  }

  .hamburger span {
    height: 2px;
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    background-color: #000;
    transition: all 0.5s ease;
  }

  .hamburger span:nth-child(1) {top:30%;}
  .hamburger span:nth-child(3) {top:70%;}
  .hamburger:hover span:nth-child(2) {opacity:0;}
  .hamburger:hover span:nth-child(1) {transform: rotate(45deg) translate(5px,5px);}
  .hamburger:hover span:nth-child(3) {transform: rotate(-45deg) translate(7px,-7px);}

  .banner h2 { 
    margin: 10px 0;
    font-size: 40px; 
  }
  
  .banner-category {
    margin: 0;
    font-size: 20px;
  }

  .banner-sale { 
    margin: 10px 0;
    font-size: 40px; 
  }
 
  .banner-offer { margin: 0; }

  .sale li:nth-child(1) { order: 1; }

  .sale li { 
    width: 40%; 
    margin: 10px auto;
  }

  .sale .flat-sale { width: 100%; }
  .sale-gallery ul { justify-content: space-between; }

  .sale-gallery li {
    width: 48%;
    margin: 10px 0;
  }

  .footer-top { flex-wrap: wrap; }

  .footer-top > div { 
    width: 50%; 
    margin-bottom: 10px;
  }
} 